<!-- toolbar with the  button to open Add role Dialog -->
<p-toolbar styleClass="mb-6">
    <ng-template #start>
        <p-button label="New" icon="pi pi-plus" severity="secondary" class="mr-2" (onClick)="openCreateDialog()" />
    </ng-template>

</p-toolbar>
<!-- Roles Table  -->
<p-table #dt [value]="RolesData" [rows]="10" [paginator]="true" 
    [rowHover]="true" dataKey="id" [scrollable]="true" scrollHeight="50vh"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} Roles" [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10,20,30]">
    <ng-template #caption>
        <div class="flex items-center justify-between">
            <h5 class="m-0">Manage Roles</h5>
            <p-iconfield>
                <p-inputicon styleClass="pi pi-search" />
                <input pInputText type="text" placeholder="Search..." />
            </p-iconfield>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th style="width: 3rem"> # </th>
            <th style="min-width:16rem"> Role</th>
            <th style="min-width:16rem"> Created at</th>
            <th style="min-width: 12rem">Action</th>
        </tr>
    </ng-template>
    <ng-template  pTemplate="body" let-role>
        <tr>
            <td style="width: 3rem">
                {{role.id}}
            </td>
            <td style="min-width: 16rem">{{ role.name }}</td>
            <td style="min-width: 16rem">{{ role.created_at | date : 'short' }}</td>
            <td>
                <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true"
                    (click)="editRoleDialog(role)" />
                <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true"
                    (click)="deleteRoleDialogData(role);deleteRoleDialogShow = true" />
            </td>
        </tr>
    </ng-template>
    <!-- template to show empty message if there is no role from the API -->
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="6">
                <div style="
                margin-top: 20px;
                    display:flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    flex-direction: column;
                    color: #888;
                ">
                    <i class="pi pi-exclamation-circle" style="font-size: 2rem; color: red;"></i>
                    <div style="margin-top: 1rem;">No Roles Added Yet</div>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>
<!-- Add Role Dialog  -->
<p-dialog [(visible)]="addRoleDialog" [style]="{ width: '450px' }" [header]="is_update?'Update Role':'Add Role'"
    [modal]="true" [draggable]="false">
    <form [formGroup]="addRoleForm">
        <div class="flex flex-col gap-1">
            <label for="name" class="block font-bold mb-1">Role Name</label>
            <input type="text" pInputText id="name" placeholder="Enter Role Name" formControlName="name" />
            @if (addRoleForm.get('name')?.touched && addRoleForm.get('name')?.hasError('required')) {
            <small class="text-red-500">Role Name is required</small>
            }
        </div>

        <div class="flex justify-end mt-3 gap-1" *ngIf="addRoleDialog">
            <p-button label="Cancel" icon="pi pi-times" text (click)="closeDialog();addRoleForm.reset()" />
            <p-button [label]="loading ? '' : (is_update ? 'Update' : 'Add')" icon="pi pi-check" [loading]="loading"
                [disabled]="loading" type="submit" (click)="is_update ? updateRole() : addRole()"
                styleClass="custom-login-button">
            </p-button>

        </div>

    </form>
</p-dialog>
<!--Delete Role Dialog  -->
<p-dialog [(visible)]="deleteRoleDialogShow" [style]="{ width: '450px' }" header="Delete Role" [modal]="true"
    [draggable]="true">
    <ng-template #content>
        <div class="flex">
            <i class="pi pi-exclamation-triangle" style="font-size: 15px;"></i>
            <span class="ml-2"> Are you sure you want to delete <strong>( {{this.deleteItem.name}} )</strong>?</span>
        </div>
    </ng-template>

    <ng-template #footer>
        <p-button label="No" (click)="deleteRoleDialogShow = false" />
        <p-button label="Yes" (click)="deleteRole()" />
    </ng-template>
</p-dialog>