/* You can add global styles to this file, and also import other style files */
@use './tailwind.css';
@use './assets/layout/layout.scss';
@use 'primeicons/primeicons.css';
@use './assets/demo/demo.scss';
/* Webkit Scrollbar */
::-webkit-scrollbar {
    width: 10px; /* Width of vertical scrollbar */
    height: 10px; /* Height of horizontal scrollbar */
  }
  /* Scrollbar Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 8px;
  }  
  /* Scrollbar Thumb (Handle) */
  ::-webkit-scrollbar-thumb {
    background: #c5c3c3; 
    border-radius: 5px;
    transition: background 0.3s;
  } 
  /* Scrollbar Thumb on Hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  .text-primary {
    color: var(--text-primary, #1F61E0) !important;
}
