<p-toolbar styleClass="mb-6">
    <ng-template #start>
        <p-button label="New" icon="pi pi-plus" severity="secondary" class="mr-2" (onClick)="openNew()" />
        <!-- <p-button severity="secondary" label="Delete" icon="pi pi-trash" outlined (onClick)="deleteSelectedProducts()" [disabled]="!selectedProducts || !selectedProducts.length" /> -->

      </ng-template>
    <!-- <ng-template #end>
        <p-button label="Export" icon="pi pi-upload" severity="secondary" (onClick)="exportCSV()" />
    </ng-template> -->
      <!-- Salvao -->
</p-toolbar>
 <!-- Role Table -->
 <p-table
 #dt
 [value]="dataAry"
 [rows]="5"
 [columns]="[]"
 [paginator]="true"
 [globalFilterFields]="['name', 'country.name', 'representative.name', 'status']"
 [tableStyle]="{ 'min-width': '75rem' }"
 [rowHover]="true"
 dataKey="id"
 currentPageReportTemplate="Showing {first} to {last} of {totalRecords} products"
 [showCurrentPageReport]="true"
 [rowsPerPageOptions]="[5, 10, 20]"
>
 <ng-template #caption>
     <div class="flex items-center justify-between">
         <h5 class="m-0">Manage Roles</h5>
         <p-iconfield>
             <p-inputicon styleClass="pi pi-search" />
             <input pInputText type="text"  placeholder="Search..." />
         </p-iconfield>
     </div>
 </ng-template>
 <ng-template #header>
     <tr>
        <th style="width: 3rem"> # </th>
        <th style="min-width:16rem"> Role</th>
        <th style="min-width:16rem"> Create at</th>
        <th style="min-width: 12rem">Action</th>
     </tr>
 </ng-template>
 <ng-template #body let-product>
     <tr>
         <td style="width: 3rem">
            {{product.id}}
         </td>
         <td style="min-width: 16rem">{{ product.role }}</td>
         <td style="min-width: 16rem">{{ product.create_at | date : 'short' }}</td>         
         <td>
             <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true" 
             (click)="editProduct(product)"/>
             <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true" (click)="deleteProduct(product);deleteDialog = true" />
         </td>
     </tr>
 </ng-template>
</p-table>
 <!-- Role Table -->

 <!-- Add Role Popup  -->
<p-dialog [(visible)]="addRoleDialog" [style]="{ width: '450px' }" header="Add Role" [modal]="true"
 [draggable]="false">
   <form [formGroup]="addRoleForm">
     <div class="flex flex-col gap-1">
            <label for="name" class="block font-bold mb-1">Role Name</label>
            <input type="text" pInputText id="name" placeholder="Enter Role Name" formControlName="roleName"/>
            @if (addRoleForm.get('roleName')?.touched && addRoleForm.get('roleName')?.hasError('required')) {
                <small class="text-red-500">Role Name is required</small>
            }
     </div>

     <div class="flex justify-end mt-3 gap-1" *ngIf="addRoleDialog">
         <p-button label="Cancel" icon="pi pi-times" text (click)="addRoleDialog = false;addRoleForm.reset()" />
         <p-button label="Save" icon="pi pi-check" (click)="is_update ? updateRole(addRoleForm):addRole(addRoleForm)" />
     </div>

    </form> 
</p-dialog>

<p-dialog [(visible)]="deleteDialog" [style]="{ width: '450px' }" header="Delete Role" [modal]="true"
 [draggable]="false">
     <ng-template #content>
         <div class="flex">
            <i class="pi pi-exclamation-triangle" style="font-size: 15px;"></i>
            <span class="ml-2"> Are you sure you want to delete?</span>
        </div>
     </ng-template>

     <ng-template #footer>
        <p-button label="No"  (click)="deleteDialog = false" />
        <p-button label="Yes"  (click)="removeRole()" />
    </ng-template>
</p-dialog>